@import-normalize;

//@import 'ABeeZee';
//$font: 'ABeeZee';
//@import 'AbrilFatface';
//$font: 'AbrilFatface';
//@import 'BalooBhai';
//$font: 'BalooBhai';
//@import 'Barlow';
//$font: 'Barlow';
//@import 'Basic';
//$font: 'Basic';
//@import 'DidactGothic';
//$font: 'DidactGothic';
@import 'FiraSans';
$font: 'FiraSans';
//@import 'Gelasio';
//$font: 'Gelasio';
//@import 'Hind';
//$font: 'Hind';
//@import 'Inder';
//$font: 'Inder';
//@import 'Kanit';
//$font: 'Kanit';
//@import 'Lobster';
//$font: 'Lobster';
//@import 'LobsterTwo';
//$font: 'LobsterTwo';
//@import 'PoiretOne';
//$font: 'PoiretOne';
//@import 'Prompt';
//$font: 'Prompt';
//@import 'Puritan';
//$font: 'Puritan';
//@import 'QuattrocentoSans';
//$font: 'QuattrocentoSans';
//@import 'RalewayDots';
//$font: 'RalewayDots';
//@import 'Rubik';
//$font: 'Rubik';
//@import 'SourceCodePro';
//$font: 'SourceCodePro';
//@import 'Ubuntu';
//$font: 'Ubuntu';
//@import 'Viga';
//$font: 'Viga';

body {
  margin: 0;
  font-family: $font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: initial;
  font-weight: initial;
  font-size: initial;
}

p {
  margin: initial;
}

code {
  font-family: $font, sans-serif;
}

strong {
  font-weight: initial;
}

em {
  font-style: initial;
}

mark {
  background-color: initial;
}
