.name {
  position: fixed;
  top: 75px;
  width: 100%;
  text-align: center;
  color: rgb(49, 49, 49);

  & > h1 {
    font-size: 3px * 22;
  }
}

.menu {
  margin: (15px * 17) 15vw 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.content {
  color: rgb(49, 49, 49);

  & > h2 {
    font-size: 3px * 13;

    & > a {
      text-decoration-line: none;
      color: rgb(49, 49, 49);
    }
  }
}

.sns {
  position: fixed;
  bottom: 15px;
  width: 100%;
  text-align: center;

  & > a {
    $font: 3px * 8;
    $space: 3px * 8;
    font-size: $font;
    margin-left: $space / 2;
    margin-right: $space / 2;
    text-decoration-line: none;
    color: rgb(49, 49, 49);
  }
}
