.logo {
  $size: 100px;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size / 2;
  $black: 20%;
  background-color: rgb($black, $black, $black);
  text-align: center;
  font-size: $size * 0.75;
  $white: 100%;
  color: rgb($white, $white, $white);
}

